#body_index {
    height:665px;
    background-image: url("imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/*BUSCADOR INPUT DE TEXTO PARA LA BUSQUEDA*/
#buscador{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
#ingrese{
  font-size: 40px;
  font-weight: bold;
  color:white;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  background: rgba(1, 154, 224, 0.6);
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
#busqueda{
  width:500px;
  height:45px;
  border-radius: 12px;
  background-color: black;
  color: white;
  border-color: #004c99;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  outline: none; 
  transition: 0.3s ease; 
}
#busqueda:hover {
    border-color: #14c0df;
}
#busqueda:focus {
    border-color: #1db954;  /* verde tipo spotify?? porq sino todo en muy azul*/
    box-shadow: 0 0 8px #1db954;
}

  /*TARJETAS DE ARTISTAS RESULTADOS DE LA BUSQUEDA*/
  #zona_tarj{
      display:flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }
  .tarj_art{
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      padding: 10px;
      align-items: center;
      width: 400px;
      height: 240px;
      justify-content: flex-start;       
      color: white;       
      border-radius: 20px; 
      background: rgba(1, 154, 224, 0.6);
      position:relative;
  }
  .tarj_art:hover{
    background: rgba(6, 195, 252, 0.822);
    box-shadow: #14c0df;
  }
  .tarj_art img{
      width: 80%;
      height: 80%;
      max-width: 80%;   
      max-height: 80%;
      margin: 5px;
      height: auto;
      object-fit: cover;
      z-index: 0;
      position: absolute;
  }

  .tarj_art p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    z-index: 1;
    background: rgba(1, 35, 51, 0.6);
    border-radius: 8px;
    padding: 8px 12px;
    position: relative;
    
  }


/*BARRA DE NAVEGACION*/
#header_index{
  display: flex;
  justify-content: center;
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(1, 154, 224, 0.6);
    width: 100%;
    height: 60px;
    position: relative;
  }

.topnav_icon {
  display: flex;
  color: white;
  text-align: center;
  align-items: center ;
  padding: 14px 16px;
  text-decoration: none;
  font-family:monospace;
  font-size: 17px;
  transition: background-color 0.3 ease;
  margin-right: 30px;
}
.topnav_icon:hover {/* cuando pasamos sobre la caja de algun topnav_icon */
  background-color: #004c99; 
  color: #fff;
  border: rgb(0, 0, 0) 2px solid;
}
.topnav_icon.active {/* En la pagina que estemos, se va a ver de otro color */
  background-color: white;
  color: black;
}

#logo {
  background-size: contain;
  background-repeat: no-repeat;
  border: black;
  width: 5%;
  height: 5%;
}

/* #logo {
  background-size: contain;
  background-repeat: no-repeat;
  border: black;
  height: 20%;
  width: 20%;
  padding: 0%;
} */