.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;     
    padding: 20px;
    width: 400px;               
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;   
}

.formulario input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}
